<html>
  <body>
    <h1>Ejs home page demo</h1>
    <div style="background-color: orange;">Hello Welcome to my site</div>

    <h2>
      <%=msg%>
    </h2>
    <% for(let i = 1; i<=10;i++){%>
    <p <% if(i%2===0) {%>
       style = "background-color:yellow;"<%}%>><%=i%></p>
    <%}%>

  </body>
</html>